<div class="container">
　<%= form_with model: @asset do |form| %>
    <div class="form-group">
      <%= form.label :asset_type %>
      <%= form.select :asset_type,  Asset.asset_types_i18n.keys.map { |k| [Asset.asset_types_i18n[k], k]}, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.number_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.submit "保存", :class => "btn btn-info" %>
    </div>
  <% end %>
</div>