<%= link_to("収支登録", "/profit/new") %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">大項目</th>
          <th scope="col">中項目</th>
          <th scope="col">小項目</th>
          <th scope="col">2019年1月</th>
          <th scope="col">2019年2月</th>
          <th scope="col">2019年3月</th>
        </tr>
      </thead>
      <tbody>
        <% @profits.each do |h| %>
          <tr>
            <th scope="row"><%= h.id %></th>
              <td><%= h.category %></td>
              <td><%= h.sub_category1 %></td>
              <td><%= h.sub_category2 %></td>
              <td><%= number_to_currency(h.year_2019_01, :unit => "¥",:precision => 0) %></td>
              <td><%= number_to_currency(h.year_2019_02, :unit => "¥",:precision => 0) %></td>
              <td><%= number_to_currency(h.year_2019_03, :unit => "¥",:precision => 0) %></td>
              <td>
                <%= link_to '削除', household_path(h), method: :delete, data: { confirm: '本当に削除しますか？' } %>
              </td>

          </tr>
        <% end %>
      </tbody>
    </table>    
  </body>
</html>